aniso8601==1.1.0
arrow==0.8.0
beautifulsoup4==4.5.1
click==6.6
decorator==4.0.10
ecdsa==0.13
Fabric3==1.12.post1
Flask==0.11.1
Flask-WTF==0.13.1
infinity==1.4
intervals==0.8.0
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
paramiko==1.17.2
pkg-resources==0.0.0
pycrypto==2.6.1
python-dateutil==2.5.3
pytz==2016.7
requests==2.11.1
six==1.10.0
uWSGI==2.0.14
validators==0.11.0
Werkzeug==0.11.11
WTForms==2.1
WTForms-Components==0.10.0
