@import "../helpers/font";

.fw {
  font-family: 'KoPub Dotum' !important;
  &.thin {
    font-weight: 300 !important;
  }
  &.normal {
    font-weight: 500 !important;
  }
  &.fat {
    font-weight: 700 !important;
  }
}

.vp-h {
  &.one-q {
    height: 25vh !important;
  }
  &.half {
    height: 50vh !important;
  }
  &.three-q {
    height: 75vh !important;
  }
}

.vp-w {
  &.one-q {
    width: 25vw !important;
  }
  &.half {
    width: 50vw !important;
  }
  &.three-q {
    width: 75vw !important;
  }
}

.center-v {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a {
  color: inherit;
}

.page-head {
  padding: 2em 0em;
}

.page-body {
  padding: 1em 0em;
}

.container {
  &.ui.layout {
    margin-top: 3em !important;
  }
  &.full {
    margin-left: 0em !important;
    margin-right: 0em !important;
  }
}

.hover.item {
  &:hover {
    background: rgba($skyblue_hover_color, .60) !important;
  }
  &.active {
    background: rgba($skyblue_hover_color, .60) !important;
  }
}

/*.ui.nav.image {*/
/*width: 100%;*/
/*height: auto;*/
/*}*/

/*.user.error.message {*/
/*box-shadow: none;*/
/*background-color: transparent;*/
/*padding: 0;*/
/*margin-top: .2em;*/
/*}*/
