.main-page {
  > .content {
    > .header {
      margin-top: 1em !important;
      margin-bottom: 1em !important;
    }
    padding-top: 10vh !important;
  }
}

@media only screen and (max-width: $break-large) {
  .main-nav.menu {
    display: none !important;
  }
}
