@import "../helpers/variable";

.main-nav-left {
  > .menu {
    height: 100vh !important;
    background: $primary_color !important;
    float: right;
    padding-top: 10vh;
  }
}

.main-nav-right {
  > .menu {
    height: 100vh !important;
    background: $secondary_color !important;
    float: left;
    padding-top: 10vh;
  }
}

@media only screen and (max-width: $break-large) {
  .main-nav-left.menu {
    display: none !important;
  }
}
