$break-large: 700px;

header.top-navbar {
  position: fixed;
  z-index: 900;
  padding: 2em 0em;
  width: 100%;

  > .ui.top.menu {
    > .hamburger.item {
      display: none;
    }

    > a.logo.item {
      > img {
        width: 2em;
      }
    }
  }
}

@media only screen and (max-width: $break-large) {
  header.top-navbar {
    > .ui.top.menu {
      margin: 8px 0px;

      > .hamburger.item {
        display: block;
      }

      > a.logo.item {
        > img {
          display: block;
          max-width: 2.5em;
        }
      }
    }

    > .ui.menu.board {
      display: none;
    }
  }
}
