@import "../helpers/variable";

div.top-navbar {
  background-color: $primary_color;
  box-shadow: 0 3px 100px 20px rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid $primary_shadow_color;
  position: fixed;
  z-index: 900;
  width: 100%;
  > .wingbar {
    margin-top: 0em !important;
    padding-top: 0em;
    padding-bottom: 0em;
    > .ui.container {
      > .ui.text.menu {
        margin-top: 0em;
        margin-bottom: 0em;
      }
    }
  }

  > .ui.container {
    > .ui.top.menu {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      > .hamburger.item {
        display: none;
      }

      > .right.user.menu {
        margin-left: 0em !important;
        > .notification.item {
          padding-left: 0em;
          padding-right: 0em;
        }
      }
    }
  }
}

@media only screen and (max-width: $break-large) {
  div.top-navbar {
    > .wingbar {
      display: none !important;
    }
    > .ui.container {
      > .ui.top.menu {
        margin-top: 0em !important;
        margin-bottom: 0em !important;
        > .hamburger.item {
          display: block;
        }

        > .right.user.menu {
          margin-left: auto !important;
        }

        > .nav {
          display: none !important;
        }
      }
    }
  }
}
