.index {
  overflow: hidden;
  min-height: 100vh;
  width: 100vw;
  padding-top: 10rem;
  text-align: center;
  &.introduction {
    background-image: url('http://www.lookalike.co.kr/static/images/bg6.jpg');
  }
}
