$primary_color: #2196F3;
$secondary_color: #BDBDBD;
$brown_color: #322525;

$skyblue_primary_color: #75bcf4;
$skyblue_active_color: #1372bb;

$graywhite_color: #f0f0f0;
$purple_color: #968cc6;

$break-large: 800px;
//$break-huge: 1200px;

