$primary_color: #2196F3;
$secondary_color: #BDBDBD;
$brown_color: #322525;

$graywhite_color: #f0f0f0;
$purple_color: #968cc6;

$skyblue_primary_color: #75bcf4;
$skyblue_hover_color: #1372bb;

$red_sui_color: #DB2828;
$red_sui_hover_color: #d01919;
$yellow_sui_color: #FBBD08;
$yellow_sui_hover_color: #eaae00;
$blue_sui_color: #2185D0;
$blue_sui_hover_color: #1678c2;
$green_sui_color: #21BA45;
$green_sui_hover_color: #16ab39;
$grey_sui_color: #767676;
$grey_sui_hover_color: #838383;
$basic_sui_color: #E0E1E2;
$basic_sui_hover_color: #CACBCD;
$break-large: 800px;
//$break-huge: 1200px;

