{% extends 'layout.html' %}

{% block title %}환영합니다!{% endblock %}

{% block style %}
{% endblock %}

{% block content %}
  <div class="ui stackable grid">

    <div class="two column centered row" style="padding: 2em 0em;">
      <div class="column">
        <img class="ui fluid image" src="{{ url_for('static', filename='images/new/main_banner.png') }}"/>
      </div>
    </div>

    <div class="three column row">
      <div class="ui link list column">
        <h5 class="ui dividing header">
          이벤트
        </h5>
        <a class="item">이벤트1에 대해 알아봅시다.</a>
        <a class="item">이벤트2에 대해 알아봅시다.</a>
        <a class="item">이벤트3에 대해 알아봅시다.</a>
        <a class="item">이벤트4에 대해 알아봅시다.</a>
        <a class="item">이벤트5에 대해 알아봅시다.</a>
        <a class="item">이벤트6에 대해 알아봅시다.</a>
        <a class="item">이벤트7에 대해 알아봅시다.</a>
        <a class="item">이벤트8에 대해 알아봅시다.</a>
      </div>
      <div class="ui link list column">
        <h5 class="ui dividing header">
          이벤트
        </h5>
        <a class="item">이벤트1에 대해 알아봅시다.</a>
        <a class="item">이벤트2에 대해 알아봅시다.</a>
        <a class="item">이벤트3에 대해 알아봅시다.</a>
        <a class="item">이벤트4에 대해 알아봅시다.</a>
        <a class="item">이벤트5에 대해 알아봅시다.</a>
        <a class="item">이벤트6에 대해 알아봅시다.</a>
        <a class="item">이벤트7에 대해 알아봅시다.</a>
        <a class="item">이벤트8에 대해 알아봅시다.</a>
      </div>
      <div class="ui link list column">
        <h5 class="ui dividing header">
          이벤트
        </h5>
        <a class="item">이벤트1에 대해 알아봅시다.</a>
        <a class="item">이벤트2에 대해 알아봅시다.</a>
        <a class="item">이벤트3에 대해 알아봅시다.</a>
        <a class="item">이벤트4에 대해 알아봅시다.</a>
        <a class="item">이벤트5에 대해 알아봅시다.</a>
        <a class="item">이벤트6에 대해 알아봅시다.</a>
        <a class="item">이벤트7에 대해 알아봅시다.</a>
        <a class="item">이벤트8에 대해 알아봅시다.</a>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
{% endblock %}
