{% extends 'layout.html' %}

{% block title %}환영합니다!{% endblock %}

{% block style %}
{% endblock %}

{% block content %}
  <div class="masthead index segment">
    <div class="ui container">
      <div class="introduction">
        <a class="ui black version label" href="#">
          v 1.0
        </a>
        <h1 class="ui inverted header">
          페이스북 키워드에 적용 가능한 키워드를 <br/>
          고객관여 고객군 데이터 기반으로 뽑아 드립니다
        </h1>
        <h3 class="ui inverted header">
          심지어 밥 먹고오면 다 끝나 있습니다
        </h3>
        <div class="ui hidden divider"></div>

        <a href="#" class="ui huge primary button">
          무료로 시작해보기
        </a>
        <h5 class="ui inverted header">
          결제 정보를 요구하지 않습니다
        </h5>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
{% endblock %}
