{% extends 'layout.html' %}

{% block title %}SMTM - 분석 시작하기{% endblock %}

{% set use_main_navbar_left = True %}

{% block content %}

  <section class="projects">
    <div class="page-head">
      <h2 class="ui header">
        <i class="folder outline icon"></i>
        <div class="content">
          Projects
          <div class="sub header">
            새 분석을 위한 프로젝트를 생성해 주세요!<br/>
          </div>
        </div>
      </h2>
    </div>
    <div class="page-body">
      <h3 class="ui header">
        새 프로젝트 만들기
      </h3>
      <div class="ui container">
        <h4 class="ui icon bk-green button header">
          <i class="plus icon"></i>
          <div class="content">
            새 프로젝트
          </div>
        </h4>
        <h4 class="ui icon button header">
          <i class="share alternate icon"></i>
          <div class="content">
            가져오기
          </div>
        </h4>
      </div>

      <h3 class="ui header">
        나의 프로젝트
      </h3>
      <div class="ui container">
        <h3 class="ui block header">
          Block Header
        </h3>
      </div>
    </div>

  </section>

{% endblock %}
