{% extends 'layout.html' %}

{% block title %}{{ board | capitalize }}{% endblock %}

{% block content %}
  <section class="board">
    <div class="page-head">
      <h2 class="ui header">
        <i class="talk outline icon"></i>
        <div class="content">
          <a href="{{ url_for('document_recent') }}">Blog</a> {% if board != 'blog' %}>
          {{ board | capitalize }}{% endif %}
          <div class="sub header">
            Target Overflow의 새 소식<br/>
          </div>
        </div>
      </h2>
    </div>
    <div class="page-body">
      <div class="ui stackable grid">
        <div class="twelve wide column">
          {% for document in list %}
            <a class="ui raised fluid link card"
               href="{{ url_for('document_view',board_name=document.board_name,document_id=document.id ) }}">
              <div class="content">
                <div class="ui {{ document.board_name | board_label_color }} ribbon max-sized label">{{ document.board_title }}</div>
                <div class="blog-list header">{{ document.title }}</div>
                <div class="description">
                  <p>{{ document.content|striptags|title }}</p>
                </div>
              </div>
              <div class="extra content">
                <div class="ui {{ document.board_name | board_label_color }} horizontal min-sized label">{{ document.board_title }}</div>
                <div class="right floated author">
                  <img class="ui avatar image"
                       src="{{ url_for('static', filename='images/user/default-anonymous-thumbnail.png') }}"> {{ document.username }}
                </div>
              </div>
            </a>
          {% endfor %}
        </div>
        <div class="four wide column">
          {% include 'pages/document/sidebar.html' %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}


{% block script %}
{% endblock %}
