{% if board != 'blog' %}
  <div class="write-button-wrap">
    <a href="{{ url_for('document_add',board_name=board ) }}" class="ui basic blue fluid button">
      <i class="write icon"></i> 글쓰기
    </a>
  </div>
{% endif %}
<div class="ui list">
  {% for board in board_list %}
    <a class="item" href="{{ url_for('document_list',board_name=board['name']) }}">
      <div class="ui {{ board['name'] | board_label_color }} fluid label">{{ board['title'] }}</div>
    </a>
  {% endfor %}
  <a class="item" href="{{ url_for('document_recent') }}">
    <div class="ui fluid label">전체보기</div>
  </a>
</div>
<div class="ui divider"></div>
{#TODO: 글 검색기능 아직 구현 안됨.#}
<div class="ui icon fluid small input">
  <input type="text" placeholder="Search...">
  <i class="circular search link icon"></i>
</div>
