<div class="three wide main-nav-left column">
  <div class="ui vertical sticky menu">

    <div class="item">
      <img src="holder.js/175x70">
      <div class="ui inverted divider"></div>

      <a class="ui active item">
        <h2 class="ui inverted header">
          <i class="bar chart icon"></i>분석
        </h2>
      </a>

      <a class="ui item">
        <h2 class="ui inverted header">
          <i class="privacy icon"></i>구독
        </h2>
      </a>

      <a class="ui item">
        <h2 class="ui inverted header">
          <i class="help icon"></i>지원
        </h2>
      </a>

      <a class="ui item">
        <h2 class="ui inverted header">
          <i class="user icon"></i>계정
        </h2>
      </a>

    </div>
  </div>
</div>
