{% extends 'layout.html' %}

{% block title %}Lookalike Pricing{% endblock %}

{% set full_size = True %}

{% block content %}
  <div class="index" id="pricing">
    <h1 class="ui header">
      페이스북 타게팅 정복을 원하는 누구나.
    </h1>
    <h3 class="ui fw thin header">
      광고를 가끔 집행하나요? 아니면 매일 집행하나요?<br/>
      고객군이 넓은 비즈니스인가요? 좁은 비즈니스 인가요?<br/><br/>
      당신이 원하는 그 어떤 시나리오에도 Lookalike의 가격정책은 준비되어 있습니다.
    </h3>
    <div class="ui hidden divider"></div>

    <div class="ui vp-w three-q center aligned container">
      <div class="ui four column stackable grid">
        <div class="column">
          <div class="ui green padded center-v vp-h one-q segment">
            <h1 class="ui center aligned fw normal header">
              Free
              <div class="sub fw thin header">
                Lookalike을 시작하는 누구나<br/>
                1개월은 비용 걱정없이.
              </div>
            </h1>
            <div class="ui hidden divider"></div>

            <a class="fluid ui vertical animated green button" href="{{ oauth_req_url }}">
              <div class="hidden content">
                <i class="right arrow icon"></i>
              </div>
              <div class="visible content">
                <span>1개월 무료 시작</span>
              </div>
            </a>
          </div>
        </div>
        <div class="column">
          <div class="ui yellow padded center-v vp-h one-q segment">
            <h1 class="ui center aligned fw normal header">
              Starter
              <div class="sub fw thin header">
                페이스북 광고 횟수가 적은<br/>
                비즈니스에 적합
              </div>
            </h1>
            <div class="ui hidden divider"></div>
            <div>
              <div class="ui horizontal statistic">
                <div class="value">
                  ₩29,700
                </div>
                <div class="label">
                  /월
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="ui blue padded center-v vp-h one-q segment">
            <h1 class="ui center aligned fw normal header">
              Standard
              <div class="sub fw thin header">
                초기 이용자 또는<br/>
                많은 분석이 필요한 전문가
              </div>
            </h1>
            <div class="ui hidden divider"></div>
            <div>

              <div class="ui horizontal statistic">
                <div class="value">
                  ₩49,500
                </div>
                <div class="label">
                  /월
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="ui purple padded center-v vp-h one-q segment">
            <h1 class="ui center aligned fw normal header">
              Professional
              <div class="sub fw thin header">
                대량의 고객 분석, 타게팅<br/>
                즉시 집행이 필요한 기업고객
              </div>
            </h1>
            <div class="ui hidden divider"></div>
            <div>

              <div class="ui horizontal statistic">
                <div class="value">
                  ₩99,000
                </div>
                <div class="label">
                  /월
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="ui hidden divider"></div>

      <div class="ui compact top attached right aligned tiny segment">
        <h4 class="ui fw fat header">
          최대 분석 인원 및 추가 비용
        </h4>
      </div>
      <div class="ui four column attached grid">
        <div class="column">
          <div class="ui basic green segment">
            <h4 class="ui right aligned fw thin header">
              고관여 고객 1500명 제공<br/>
              추가 제공 없음.
            </h4>
          </div>
        </div>
        <div class="column">
          <div class="ui basic yellow segment">
            <h4 class="ui right aligned fw thin header">
              고관여 고객 400명 제공<br/>
              추가 1명당 150원
            </h4>
          </div>
        </div>
        <div class="column">
          <div class="ui basic blue segment">
            <h4 class="ui right aligned fw thin header">
              고관여 고객 700명 제공<br/>
              추가 1명당 130원
            </h4>
          </div>
        </div>
        <div class="column">
          <div class="ui basic purple segment">
            <h4 class="ui right aligned fw thin header">
              고관여 고객 1500명 제공<br/>
              추가 1명당 100원.<br/>
              <strong>1만명 이상 필요시 문의</strong>
            </h4>
          </div>
        </div>
      </div>

      <div class="ui compact top attached right aligned tiny segment">
        <h4 class="ui fw fat header">
          분석 프로세스 및 관리
        </h4>
      </div>
      <div class="ui four column attached grid">
        <div class="column">
          <div class="ui basic green segment">
            <h4 class="ui right aligned fw thin header">
              1회 최대 300명 분석 가능<br/>
              <br/>
              체계적인 분석 목록 관리<br/>
              표준 CSV 파일 업로드 지원<br/>
              분석 완료 알림: SMS, 메일<br/>
              공개/비공개 결과 공유 생성
            </h4>
          </div>
        </div>
        <div class="column">
          <div class="ui basic yellow segment">
            <h4 class="ui right aligned fw thin header">
              1회 최대 100명 분석 가능<br/>
              <br/>
              체계적인 분석 목록 관리<br/>
              표준 CSV 파일 업로드 지원<br/>
              분석 완료 알림: SMS, 메일<br/>
              공개/비공개 결과 공유 생성
            </h4>
          </div>
        </div>
        <div class="column">
          <div class="ui basic blue segment">
            <h4 class="ui right aligned fw thin header">
              1회 최대 200명 분석 가능<br/>
              <br/>
              체계적인 분석 목록 관리<br/>
              표준 CSV 파일 업로드 지원<br/>
              분석 완료 알림: SMS, 메일<br/>
              공개/비공개 결과 공유 생성
            </h4>
          </div>
        </div>
        <div class="column">
          <div class="ui basic purple segment">
            <h4 class="ui right aligned fw thin header">
              1회 최대 500명 분석 가능<br/>
              <strong>500명 이상 필요시 문의</strong><br/>
              체계적인 분석 목록 관리<br/>
              고객 자체 CSV 규격 지원<br/>
              원하는 채널로 분석 완료 알림<br/>
              공개/비공개 결과 공유 생성
            </h4>
          </div>
        </div>
      </div>

      <div class="ui compact top attached right aligned tiny segment">
        <h4 class="ui fw fat header">
          페이스북 광고 타게팅 및 즉시 집행
        </h4>
      </div>
      <div class="ui four column attached grid">
        <div class="column">
          <div class="ui basic green segment">
            <h4 class="ui right aligned fw thin header">
              직접 타게팅 키워드 입력을 위한<br/>
              최적화된 정보와 설명서 제공<br/>
              페이스북 광고 계정 연동으로<br/>
              즉시 광고 캠페인/타겟 생성<br/>
              자동 A/B 테스트 생성과 측정
            </h4>
          </div>
        </div>
        <div class="column">
          <div class="ui basic yellow segment">
            <h4 class="ui right aligned fw thin header">
              직접 타게팅 키워드 입력을 위한<br/>
              최적화된 정보와 설명서 제공<br/>
            </h4>
          </div>
        </div>
        <div class="column">
          <div class="ui basic blue segment">
            <h4 class="ui right aligned fw thin header">
              직접 타게팅 키워드 입력을 위한<br/>
              최적화된 정보와 설명서 제공<br/>
              페이스북 광고 계정 연동으로<br/>
              즉시 광고 캠페인/타겟 생성<br/>
            </h4>
          </div>
        </div>
        <div class="column">
          <div class="ui basic purple segment">
            <h4 class="ui right aligned fw thin header">
              직접 타게팅 키워드 입력을 위한<br/>
              최적화된 정보와 설명서 제공<br/>
              페이스북 광고 계정 연동으로<br/>
              즉시 광고 캠페인/타겟 생성<br/>
              자동 A/B 테스트 생성과 측정
            </h4>
          </div>
        </div>
      </div>

    </div>
  </div>
{% endblock %}

{% block script %}
{% endblock %}
