<footer class="footer">
  <div class="ui padded grid">
    <div class="centered row" style="padding-top: 0px; padding-bottom: 0px;">
      <div class="ui text menu centered grid">
        <a href="#" class="item">공지사항</a>
        <a href="#" class="item">통계</a>
        <a href="#" class="item">게시판</a>
      </div>
    </div>
    <div class="centered row" style="padding-top: 0px; padding-bottom: 0px;">
      <p class="credit" id="info">
        <strong>SMTM Client</strong>
        Copyright <i class="fa fa-copyright"></i> Daniel T. Lee. <br>2016. All rights reserved.<br><br>
      </p>
    </div>
  </div>
</footer>
