<footer class="footer">
  <div class="ui padded grid">
    <div class="centered row" style="padding-top: 0px; padding-bottom: 0px;">
      <div class="ui text menu centered grid">
        <a class="ui hover item" href="{{ url_for('index') }}">HOME</a>
        <a class="ui hover item" href="{{ url_for('document_recent') }}">BLOG</a>
        <a class="ui hover item" href="{{ url_for('pricing') }}">PRICING</a>
        <a class="ui hover item" href="{{ url_for('about') }}">ABOUT US</a>
      </div>
    </div>
    <div class="centered row" style="padding-top: 0px; padding-bottom: 0px;">
      <p class="credit" id="info">
        <strong>LookAlike Client</strong>
        Copyright <i class="fa fa-copyright"></i> Daniel T. Lee. <br>2016. All rights reserved.<br><br>
      </p>
    </div>
  </div>
</footer>
