<div class="ui vertical nav left sidebar large menu">
  <div class="item">
    <div class="header">SMTM</div>
    <div class="menu">
      <a class="ui item" href="{{ url_for('index') }}">DEMO</a>
      <a class="ui item" href="{{ url_for('index') }}">BLOG</a>
      <a class="ui item" href="{{ url_for('index') }}">PRICING</a>
      <a class="ui item" href="{{ url_for('index') }}">ABOUT US</a>
    </div>
  </div>
</div>

<div class="ui right vertical notification sidebar borderless menu">
  <div class="ui small feed" id="notification-list">
  </div>
</div>
