{% extends 'layout.html' %}

{% block title %}SMTM - 분석 시작하기{% endblock %}

{% block content %}

  <section class="projects">
    <div class="page-head">
      <h2 class="ui header">
        <i class="folder outline icon"></i>
        <div class="content">
          Projects
          <div class="sub header">
            새 분석을 위한 프로젝트를 생성해 주세요!<br/>
          </div>
        </div>
      </h2>
    </div>
    <div class="page-body">
      <h3 class="ui header">
        새 프로젝트 만들기
      </h3>
      <div class="ui container">
        <h4 class="ui icon bk-green button header">
          <i class="plus icon"></i>
          <div class="content">
            새 프로젝트
          </div>
        </h4>
        <h4 class="ui icon button header">
          <i class="share alternate icon"></i>
          <div class="content">
            가져오기
          </div>
        </h4>
      </div>

      <h3 class="ui header">
        나의 프로젝트
      </h3>
      <div class="ui container">
        {% if projects|length != 0 %}
          {% for project in projects %}
            <div class="ui block medium header">
              <i class="folder open outline icon"></i>
              <div class="content">
                {{ project.title }} - {{ project.status }}
                <div class="sub header">
                  {{ project.description }}
                </div>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <h4 class="ui block header">
            <i class="frown icon"></i>
            <div class="content">
              저런! 아직 프로젝트가 없네요!
              <div class="sub header">
                새 프로젝트를 생성해 보세요.
              </div>
            </div>
          </h4>
          </div>
        {% endif %}
    </div>
  </section>

  <section class="modal">
    <div class="ui small test modal">
      <i class="close icon"></i>
      <div class="header">
        새 프로젝트 만들기
      </div>
      <div class="content">
        <form action="{{ request.url }}" method="POST" class="ui form" style="margin:1em 0em">
          {{ form.csrf_token }}
          <div class="disabled field{% if form.errors['username'] %} error{% endif %}">
            <label>ID</label>
            {{ form.username(placeholder="아이디를 입력해주세요", minlength="4") }}
            {% if form.errors['username'] %}
              <div class="ui user error message">
                {% for error in form.errors['username'] %}
                  <p>{{ error }}</p>
                {% endfor %}
              </div>
            {% endif %}
          </div>

          <div class="field{% if form.errors['password'] %} error{% endif %}">
            <label>Password</label>
            {{ form.password(placeholder="비밀번호를 입력해주세요", minlength="6", maxlength="20") }}
            {% if form.errors['password'] %}
              <div class="ui user error message">
                {% for error in form.errors['password'] %}
                  <p>{{ error }}</p>
                {% endfor %}
              </div>
            {% endif %}
          </div>
          <button class="fluid ui primary button" type="submit">확인하기</button>
        </form>
      </div>
      <div class="actions">
        <div class="ui negative button">
          취소
        </div>
        <div class="ui positive right labeled icon button">
          생성하기
          <i class="checkmark icon"></i>
        </div>
      </div>
      </form>

    </div>
  </section>
{% endblock %}

{% block script %}
  <script>
    $('.second.modal').modal('attach events', '.first.modal .button');
  </script>
{% endblock %}
